pkgbase = melearner-bin
	pkgdesc = local course learner
	pkgver = 0.1.9
	pkgrel = 1
	url = https://github.com/WhiteHades/melearner
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = libdrm
	depends = libglvnd
	depends = libpipewire
	depends = libpulse
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxau
	depends = libxdmcp
	depends = libxext
	depends = libxfixes
	depends = libxpresent
	depends = libxrandr
	depends = libxrender
	depends = libxss
	depends = libxv
	depends = mesa
	depends = ocl-icd
	depends = pipewire-jack
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	provides = melearner=0.1.9
	conflicts = melearner
	options = !strip

pkgname = melearner-bin
