pkgbase = melearner-bin
	pkgdesc = local course learner
	pkgver = 0.1.8
	pkgrel = 94
	url = https://github.com/WhiteHades/melearner
	arch = x86_64
	license = MIT
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = libglvnd
	depends = libx11
	depends = wayland
	provides = melearner=0.1.8
	conflicts = melearner
	options = !strip

pkgname = melearner-bin
