[Desktop Entry]
Name=local course learner
Comment=Local-first course learner for local files
Exec=/usr/bin/melearner
Icon=io.github.whitehades.melearner
Type=Application
Categories=Education;
Terminal=false
