[Desktop Entry]
Name=melearner
Comment=Local-first course learner for local files
Exec=melearner
Icon=io.github.whitehades.melearner
Type=Application
Categories=Education;
Terminal=false
