[Desktop Entry]
Name=melearner
GenericName=local course learner
Comment=Local-only course learner for local files
Exec=melearner
Icon=io.github.whitehades.melearner
Type=Application
Categories=Education;
Keywords=melearner;local;course;learner;education;video;
Terminal=false
